@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* general styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

/* banner-styles */
.banner {
    display: flex;
    max-width: 1321px;
    max-height: 646px;
    background-color: #161616;
    border-radius: 30px;
    margin: 50px 140px 130px 140px;
    color: white;
}

.banner-text {
    padding: 90px 12px 90px 106px;
}

.banner-text-header {
    font-size: 25px;
    font-weight: 700;
}

.banner-text p {
    font-size: 10px;
}

.watch-live {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;

}

.watch-live a {
    font-size: 16px;
    text-decoration: none;
    color: white;

}

.banner-pic {
    position: relative;
    padding: 33px 79px 0px 12px;
    top: 64px;
    left: 14px
}

/* middle styles */


.middle{
    display: flex;
    margin-left: 40px;
}

.sidebar{
    background-color: #161616;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    max-width: 120px;
    max-height: 150px;
    border-radius: 10px;
    align-items: center;
    margin-top: 7px;

}
.page{
    max-width: 100px;
    max-height: 64px;
    border: 1px solid #161616;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}
.active-page{
    background-color: red;
    color: white;
}
.blog{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
}

.blog-txt{
    margin: 20px;
}
.transfer{
    border: 1px solid black;
    max-width: 100px;
    max-height: 32px;
    text-align: center;
    border-radius: 10px;
}
.blog-news{
    max-width: 272px;
    max-height: 54px;
}

.icons{
    display: flex;
    justify-content: space-between;
    max-width: 143px;
    max-height: 26px;
}
.icons img{
    max-width: 15px;
    max-height: 15px;
}
